@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&display=swap');
@import url('https://fonts.cdnfonts.com/css/neuropolitical');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --title: 'Neuropolitical', sans-serif;
  --phrase: 'Barlow Condensed', sans-serif;
  font-family: var(phrase);

  /* Colors */

  --primary: #083366;
  --primary50: rgba(8, 50, 102, 0.5);
  --secondary: #145096;
  --customGrey: #D8DEDF;
  --customWhite: #FFFFFF;
  --customBlack: #060606;
  --customRed: #BB2B2B;
}