@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&display=swap');
@import url('https://fonts.cdnfonts.com/css/neuropolitical');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --title: 'Neuropolitical', sans-serif;
  --phrase: 'Barlow Condensed', sans-serif;
  font-family: var(phrase);

  /* Colors */

  --primary: #083366;
  --primary50: rgba(8, 50, 102, 0.5);
  --primary10: rgba(8, 50, 102, 0.2);
  --secondary: #145096;
  --secondary80: rgba(20, 81, 150, 0.8);
  --customGrey: #D8DEDF;
  --customWhite: #FFFFFF;
  --customBlack: #060606;
  --customRed: #BB2B2B;


}

* {
  scrollbar-width: auto;
  scrollbar-color: #000000 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 1rem;

}

*::-webkit-scrollbar-track {
  background: var(--primary10);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary80);
  border-radius: 10px;
  /* border: 1px solid var(--customBlack); */
}

body {
  /* background-image: url("https://as2.ftcdn.net/v2/jpg/01/68/24/63/1000_F_168246324_GMTy91hHJbA7hHe6PO2hfIItv5EnZLCf.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
}